$clr-amoeba-1-a: #F6003A;
$clr-amoeba-1-b: #F18700;
$clr-amoeba-0-a: #72008F;
$clr-amoeba-0-b: #008F9C;

$clr-fab-0: #D40036;
$clr-fab-2: #E0EA00;
$clr-fab-1: #007F89;

$clr-black: #000;
$clr-white: #FFF;

$clr-grey-1: #DDDDDF;
$clr-grey-2: #353436;
