
$clr-amoeba-1-a: #F6003A;
$clr-amoeba-1-b: #F18700;
$clr-amoeba-0-a: #72008F;
$clr-amoeba-0-b: #008F9C;

$clr-fab-0: #D40036;
$clr-fab-2: #E0EA00;
$clr-fab-1: #007F89;

$clr-black: #000;
$clr-white: #FFF;

$clr-grey-1: #DDDDDD;
$clr-grey-2: #333333;

$body-color: $clr-grey-2;

$font-size-xs: 0.625rem; // 10px;
$font-size-sm: 0.75rem; // 12px;
$font-size-md: 0.875rem; // 14px;
$font-size-lg: 1rem; // 16px;
$font-size-base: $font-size-md;
